/*

Author styles go here.

*/

label.inline {
	display: inline;
}

label.wider {
	width: 50px;
	text-align: right;
	float: left;
	padding-right: 5px;
}

.link {
	cursor: pointer;
}

.htmlTemplate {
	display: none;
}

.nameValuePairContainer {
	margin-bottom: 5px;
}
